
 
{% block title %}Nouveau mot de passe{% endblock %}
 
{% block body %}
<h1>Réinitialisation du mot de passe</h1>
<p>Votre mot de passe a ete avec success</p>
Mot de passe realiser avec success
{% endblock %}
