{% extends 'base.html.twig' %}

{% block content %}

{% block title %}New Reclamation{% endblock %}

{% block body %}
    <br>
    <br>
    <br>
    <br>

    <center><h4>Create new Reclamation</h4></center>
    <br>
    <br>

   <center> {{ include('reclamation/_form.html.twig') }}</center>
    <br>
    <br>
    <center> <a href="{{ path('reclamation_index') }}"><button>back to list</button></a> </center>
{% endblock %}
{% endblock %}
