<form method="post" action="{{ path('reponse_reclamation_delete', {'id': reponse_reclamation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reponse_reclamation.id) }}">
    <a href="{{ path('reponse_reclamation_index1')}}" ><button class="btn-outline-black">Delete</button></a>
</form>
