{% extends 'adminT.html.twig' %}

{% block content %}

{% block title %}Reponse Reclamation{% endblock %}

{% block body %}
    <h1>Reponse Reclamation</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Description</th>
                <td>{{ reponse_reclamation.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reponse_reclamation_index') }}"><button>back to list</button></a>

    <a href="{{ path('reponse_reclamation_edit', {'id': reponse_reclamation.id}) }}"><button>edit</button></a>

    {{ include('reponse_reclamation/_delete_form.html.twig') }}
{% endblock %}
{% endblock %}
