{% extends 'base.html.twig' %}
{% block content  %}
   

    {% block body %}
    <br>
    <br>
    <br>
    <br>

    <br>
    <center>

        <h1>Create new Commande</h1>

        {{ include('commande/_form.html.twig') }}

        <a href="{{ path('commande_index') }}" class="btn btn-default">back to list</a>
        </center>
    {% endblock %}
{% endblock %}