{% extends 'base.html.twig' %}

{% block title %}New Lignedecommande{% endblock %}

{% block content %}

<br> 
<br>
<br>
<center>
    <h1>Create new Lignedecommande</h1>


    {{ include('ligne_de_commande/_form.html.twig') }}
    </center>

    <a href="{{ path('lignedecommande_index') }}">back to list</a>
{% endblock %}
