{% extends 'base.html.twig' %}

{% block title %}New Lignedecommande{% endblock %}

{% block body %}
    <h1>Create new Lignedecommande</h1>

    {{ include('lignedecommande/_form.html.twig') }}

    <a href="{{ path('lignedecommande_index') }}">back to list</a>
{% endblock %}
